<h1><strong>Add Visitor</strong></h1>
<mat-dialog-content>
  <form [formGroup]="addVisitorForm">
    <mat-form-field>
      <input matInput placeholder="name" required formControlName="visitorName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="email" formControlName="visitorEmail">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="phone"  formControlName="visitorPhone">
    </mat-form-field>
    <mat-form-field>
      <input matInput required [matDatepicker]="intime" placeholder="in time" formControlName="visitorInTime">
      <mat-datepicker-toggle matSuffix [for]="intime"></mat-datepicker-toggle>
      <mat-datepicker #intime></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="outtime" placeholder="out time" formControlName="visitorOutTime">
      <mat-datepicker-toggle matSuffix [for]="outtime"></mat-datepicker-toggle>
      <mat-datepicker #outtime></mat-datepicker>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button [disabled]="!(addVisitorForm.valid)" color="accent" (click)="addVisitor()">Add</button>
  <button mat-button color="accent" [mat-dialog-close]="false">Cancel</button>
  <mat-progress-spinner color="primary" mode="indeterminate" *ngIf="!visitorAdded" diameter="50"></mat-progress-spinner>
</mat-dialog-actions>

