<div fxLayout="row" fxFlex="100%">
  <mat-card fxLayout="column" fxFlex="50%">
    <mat-card-header>
      <mat-card-title>
        <h1>Login</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #loginForm="ngForm">
        <mat-form-field>
          <input matInput placeholder="email" name="userlogin_email" required [(ngModel)]="userLogin.email">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="password" name="userlogin_password" required  [(ngModel)]="userLogin.password">
        </mat-form-field>
      </form>
      <button mat-raised-button color="accent" type="submit" (click)="login()">Login</button>
      <mat-progress-spinner color="primary" mode="indeterminate" *ngIf="processLogin" diameter="30"></mat-progress-spinner>
    </mat-card-content>
  </mat-card>
  <mat-card fxLayout="column" fxFlex="50%">
    <mat-card-header>
      <mat-card-title>
        <h1>Signup</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #signupForm="ngForm">
        <mat-form-field>
          <input matInput placeholder="name" name="usersignup_name" required [(ngModel)]="userSignup.name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="email" name="usersignup_email" required [(ngModel)]="userSignup.email">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="password" name="usersignup_password" required [(ngModel)]="userSignup.password">
        </mat-form-field>
      </form>
      <button mat-raised-button color="accent" type="submit" (click)="signUp()">Signup</button>
      <mat-progress-spinner color="primary" mode="indeterminate" *ngIf="processSignup" diameter="30"></mat-progress-spinner>
    </mat-card-content>
  </mat-card>
</div>
