/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700');

$full-background : #f7f7f7;

body {
  margin: 0px!important;
  font-family: Roboto !important;
  background-color: $full-background;
}

.mat-toolbar {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
.main-content {
  min-height: 100%;
  margin: 50px !important;
}

.page-loader {
  margin-top: 40%;
  margin-left: 45%;
  position : relative !important;
}
